<tml>
	<message name="server-configuration">
		<property name="documentClass" value="com.dexels.navajo.document.base.BaseNavajoFactoryImpl" />
		<property name="instance_name" value="Dev1" />
		<property name="instance_group" value="DevelopMent" />

		<message name="parameters">
			<property name="async_timeout" value="3600" />
			<property name="enable_locks" value="false" />
			<property name="enable_statistics" value="true" />
		</message>
	</message>

</tml>
